.container{
    background-image: url(../image/image1.jpg);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav-li{
    font-size: 12px;
    display: inline-block;
    margin-right: 30px;
    color:#D9F0FF;
}
.div1{
    display: flex;
}
.navigation{
    margin:70px 142px 813px 0; 
}
.div2 {
    display: flex;
}
.h2{
    width: 118px;
    height: 37px;
    margin:51px 620px 812px 67px;
    color: white;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    color: #D9F0FF;
}
.text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 100px;
    color: #FFFFFF;
}
a{
    color: #D9F0FF;
}
.wraper{
    display: flex;
}
.container1{
    width: 100%;
    height: 900px;
    position: relative;
}
.h1{
    margin:90px 86px 50px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    width: 468px;
}
.text1{
    margin: 0 97px 50px 86px;
    font-size: 16px;
}
.box1{
        width: 307px;
        border-radius: 36px;
        background-color: #325DFF;
        height: 72px;
        margin: 30px 251px 101px 82px;
        position: relative;
}
.prgph{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 217px;
    padding-left: 20px;
    color: white;
}
.text3{
    position: absolute;
    top: 30px;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
}
.container2{
    width: 100%;
    height: 965px;
    
}
.description{
    position: relative;
    height: 121px;
}
.prgph1{
    position: absolute;
    top: 100px;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    width: 771px;
    height: 71px;
    font: 16px;
}
.box2{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #325DFF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}
.wraper2{
   display: inline-block;
    justify-content: space-between;
    position: relative;
    width:371px;
    height: 374px;
    margin: 62px  0 25px 55px;
}
.wraper3{
    display: inline-block;
    justify-content: space-between;
    position: relative;
    width:371px;
    height: 374px;
    margin: 62px  0 25px 55px;
}
.wraper4{
    display: inline-block;
    justify-content: space-between;
    position: relative;
    width:371px;
    height: 374px;
    margin: 62px  0 25px 55px;
}
}
}
.peace{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    margin-top: 40px;
    margin-left: 40px;
}
.lorem{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 251px;
    height: 106px;
    text-indent: 15px;
}